@model UserViewModel

@{
    ViewData["Title"] = "Register New User";
}

<div>
    <h2> Register an Account </h2>
</div>
@if (Model.fromRegister && !Model.success)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@Model.errorMsg</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form method="POST" asp-controller="Users" asp-action="users/register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Email"><b>Email Address</b></label>
                <input asp-for="@Model.User.Email" class="form-control" />
                <span asp-validation-for="@Model.User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Password"><b>Password</b></label>
                <input asp-for="@Model.User.Password" class="form-control" />
                <span asp-validation-for="@Model.User.Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
