@using Microsoft.EntityFrameworkCore.Metadata.Internal;
@model PhoneBookMVC.Models.Contact

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.FullName)</h1>

<div>
    <hr />
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        @if (Model.LastName != "" && Model.LastName != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
        }
        @if (Model.Email != "" && Model.Email != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
        }
        @if (Model.PhoneNumber != "" && Model.PhoneNumber != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
        }
        @if (Model.PhoneNumber != "" && Model.PhoneNumber != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"><input type="button" value="Edit" class="btn btn-primary" /></a>
    <a asp-action="Delete" asp-route-id="@Model?.Id"><input type="button" value="Delete" class="btn btn-danger" /></a>
    <a asp-action="Index"><input type="button" value="Back" class="btn btn-secondary" /></a>
    <!--<input type="button" value="Back" class="btn btn-secondary" onclick="javascript:window.history.go(-1)" />-->
</div>
