@page
@model PhoneBookCore.Pages.Contacts.ViewModel
@{
}

<h2><strong>@Model.contact.FullName</strong></h2>

<div>
    @if (!string.IsNullOrEmpty(Model.contact.EmailAdd))
    {
        <div>
            <strong>Email Address</strong><br />
            @Model.contact.EmailAdd
        </div>
    }

    @if (!string.IsNullOrEmpty(Model.contact.PhoneNumber))
    {
        <div>
            <strong>Phone Number</strong><br />
            @Model.contact.PhoneNumber
        </div>
    }

    @if (!string.IsNullOrEmpty(Model.contact.Notes))
    {
        <div>
            <strong>Notes</strong><br />
            @Model.contact.Notes
        </div>
    }
</div>
<br />
<div class="form-group">
    <a href="/Contacts/Edit?id=@Model.contact.Id" class="btn btn-primary">Edit</a>
    <input type="hidden" name="id" value="@Model.contact.Id" />
    <a href="/Contacts/Delete?id=@Model.contact.Id" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a>
    <a href="/Groups/Add?id=@Model.contact.Id" class="btn btn-primary">Add to Group</a>
    @if (string.IsNullOrEmpty(Model.fromSearch))
    {
        <a href="/Contacts/Index" class="btn btn-secondary">Back</a>
    }
    else
    {
        <a href="/Contacts/Search?search=@Model.fromSearch" class="btn btn-secondary">Back</a>
    }
</div>